.container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	/* max-width: 1280px; */
	min-height: 100%;
	height: 100vh;
	/* padding-top: 3.125rem; */
	/* padding: 4.375rem 10px 0 10px; */
	margin: auto;
}
